src/main/resources/META-INF/simpleJob.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.simplejob.com/schema/simple/job"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="job">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="class" type="xsd:string" use="required" />
                    <xsd:attribute name="registry-center" type="xsd:string" use="required" />
                    <xsd:attribute name="cron" type="xsd:string" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
